@page "/settings"

<DtPageHeader Caption="Settings" ShowBackButton="false"/>

<MudCard Class="my-2">
    <MudGrid Spacing="3">
        <MudItem xs="12" sm="3" Class="d-none d-sm-block">
            <div class="floating-panel" style="padding-top: 40px;">
                <MudList T="string" Dense="true" Class="mx-4">
                    @if (_sectionListRef is not null)
                    {
                        @foreach (var item in _sectionListRef.Sections)
                        {
                            <MudListItem T="string" OnClick="@(async () => await ScrollTo(item.Id))">@item.Caption</MudListItem>
                        }
                    }
                </MudList>
            </div>
        </MudItem>
        <MudItem xs="12" sm="9" Class="pa-4">
            <DtSectionList @ref="_sectionListRef">
                <DtSection Id="appearance" Caption="Appearance">
                    <MudSelect T="Dev.Tools.Web.Services.Layout.ThemeMode" @bind-Value="@_themeMode" Label="Theme mode">
                        <MudSelectItem Value="Services.Layout.ThemeMode.System">System</MudSelectItem>
                        <MudSelectItem Value="Services.Layout.ThemeMode.Light">Light</MudSelectItem>
                        <MudSelectItem Value="Services.Layout.ThemeMode.Dark">Dark</MudSelectItem>
                    </MudSelect>
                    <MudButton OnClick="@SaveLayout">Save appearance</MudButton>
                </DtSection>

                <DtSection Id="localization" Caption="Localization">
                    <MudTextField @bind-Value="@_culture" Label="Culture (e.g. en-US)"/>
                    <MudButton OnClick="@SaveLocalization">Save locale</MudButton>
                </DtSection>
                
                <DtSection Id="providers" Caption="Providers">
                    <MudText>The data providers configuration</MudText>
                </DtSection>
            </DtSectionList>
        </MudItem>
    </MudGrid>
</MudCard>

 
